<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="panel-title">
    Welcome to {{ title }}
</div>

<hr>
<app-active-users [users]="activeUsers"></app-active-users>
<hr>
<app-inactive-users [users]="inactiveUsers"></app-inactive-users>
<hr>
<div class="panel panel-primary" *ngIf="activatedCnt > 0 || deactivatedCnt > 0">
  Moved from Inactive to Active: {{ activatedCnt }} times.
  Moved from Active to Inactive: {{ deactivatedCnt }} times.
</div>

